{% load static %}

<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <title>home</title>
        <!-- CSS only -->
        <link rel="stylesheet" href="{% static 'style/style.css' %}"/>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap" rel="stylesheet">
    </head>
    <body>
        <nav class="navbar sticky-top navbar-expand-lg sticky-top navbar-light sticky-top" style="background-color: #fae7cb">
            <a class="navbar-brand" href="home.html">
                <img src="{% static 'img/여기모여_로고.png' %}" alt="" width="80px">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Dropdown
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Something else here</a>
                  </div>
                </li>
                <li class="nav-item">
                  <a class="nav-link disabled" href="#">Disabled</a>
                </li>
              </ul>
              <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="과목 검색" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">검색</button>
              </form>
            </div>
          </nav>

          <div class="menu">
              <li  class="timetable">나의 시간표</li>
              <li class="liveclass">실시간 수업</li>
          </div>
              <table class="livebox" border="1" bordercolor="salmon" width ="600" height="600">
                <tr class="day" align = "center" height="50px">
                <td>월</td>
                <td>화</td>
                <td>수</td>
                <td>목</td>
                <td>금</td>
                </tr>
                <tr align = "center">
                <td>비판적 사고와 <br>토론 및 이해</td>
                <td></td>
                <td><a href="{%url 'subject'%}">현대사회의 이해</a></td>
                <td></td>
                <td></td>
                </tr>
                <tr align = "center">
                <td></td>
                <td>여가문화산업</td>
                <td></td>
                <td>라이프스타일과<br> 트렌드</td>
                <td></td>
                </tr>
                <tr align = "center">
                <td></td>
                <td>서비스 산업과<br> 프로세스</td>
                <td></td>
                <td></td>
                <td></td>
                </tr>
                <tr align = "center">
                <td></td>
                <td></td>
                <td></td>
                <td>문헌정보학 개론</td>
                <td></td>
                </tr>
               </table>
               <div class="livebox">
                    <img src="{% static 'img/한석원.png' %}" width="500px">
                    <div class="information">
                      <br>
                      오늘의 수업 : 화 6~9 
                      <br>
                      과목명 : [서비스 산업과 프로세스]
                      <br>
                      수강생 수 : 50명
                    </div>

               </div>
    </body>
</html>