
body {
    font-family: 'Nanum Gothic', sans-serif;
}

form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

/* 아기 검색창 */
.searching{
    height: 40px;
    width: 400px;
    background: #ff7272;
    float: right;
}

input{
    font-size: 16px;
    width: 325px;
    padding : 10px;
    outline: none;
    float: left;
}



.searchbutton {
    width: 50px;
    height: 100%;
    border: 0px;
    background: #ff7272;
    outline: none;
    float: right;
    color: #ffffff; 
}
